# Analysis of red wine samples and white wine samples
### This is an investigation of a dataset based on physicochemical properties and quality ratings of red and white wine samples. 
Wine samples are rated between 1 - 10 based on the qualities and certain attributes of wine that are to be investigated follow below:<br>
1	Fixed Acidity<br>
2	Volatile Acidity<br>
3	Citric Acid<br>
4	Residual Sugar<br>
5	Chlorides<br>
6	Free Sulfur Dioxide<br>
7	Total Sulfur Dioxide<br>
8	Density<br>
9	pH<br>
10	Sulphates<br>
11	Alcohol<br>

**Running the code below, gives an idea of how the datasets look**

In [10]:
import pandas as pd

file_path_red = '../../Datasets/winequality-red.csv'
file_path_white = '../../Datasets/winequality-white.csv'
df_red = pd.read_csv(file_path_red, sep = ';')
df_white = pd.read_csv(file_path_white, sep = ';')

**Red wine sample**

In [12]:
df_red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

**White wine sample**

In [13]:
df_white.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

**Number of samples in each dataset**

In [15]:
print('Number of records in Red wine sample: {}'.format(df_red.shape[0]))
print('Number of records in White wine sample: {}'.format(df_white.shape[0]))

Number of records in Red wine sample: 1599
Number of records in White wine sample: 4898

**Number of columns in each dataset**

In [16]:
print('Number of columns in Red wine sample: {}'.format(df_red.shape[1]))
print('Number of columns in White wine sample: {}'.format(df_white.shape[1]))

Number of columns in Red wine sample: 12
Number of columns in White wine sample: 12

**Features with missing values**

In [45]:
print('Number of features with missing values in Red wine sample: {}'.format(df_red.isna().any().sum()))
print('Number of features with missing values in White wine sample: {}'.format(df_white.isna().any().sum()))

Number of features with missing values in Red wine sample: 0
Number of features with missing values in White wine sample: 0

**Duplicate rows in the white wine dataset**

In [65]:
print('Number of duplicate records in Red wine sample: {}'.format(df_red.duplicated().sum()))
print('Number of duplicate records in White wine sample: {}'.format(df_white.duplicated().sum()))

Number of duplicate records in Red wine sample: 240
Number of duplicate records in White wine sample: 937

**Duplicate recordsin Red wine sample**

In [67]:
df_red[df_red.duplicated()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4,7.4,0.700,0.00,1.90,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
11,7.5,0.500,0.36,6.10,0.071,17.0,102.0,0.99780,3.35,0.80,10.5,5
27,7.9,0.430,0.21,1.60,0.106,10.0,37.0,0.99660,3.17,0.91,9.5,5
40,7.3,0.450,0.36,5.90,0.074,12.0,87.0,0.99780,3.33,0.83,10.5,5
65,7.2,0.725,0.05,4.65,0.086,4.0,11.0,0.99620,3.41,0.39,10.9,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1563,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1564,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1567,7.2,0.695,0.13,2.00,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
1581,6.2,0.560,0.09,1.70,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
1596,6.3,0.510,0.13,2.30,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6

**Duplicate recordsin white wine sample**

In [69]:
df_white[df_white.duplicated()]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.900000,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.100000,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.800000,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.500000,6
20,6.2,0.66,0.48,1.2,0.029,29.0,75.0,0.98920,3.33,0.39,12.800000,8
...,...,...,...,...,...,...,...,...,...,...,...,...
4828,6.4,0.23,0.35,10.3,0.042,54.0,140.0,0.99670,3.23,0.47,9.200000,5
4850,7.0,0.36,0.35,2.5,0.048,67.0,161.0,0.99146,3.05,0.56,11.100000,6
4851,6.4,0.33,0.44,8.9,0.055,52.0,164.0,0.99488,3.10,0.48,9.600000,5
4856,7.1,0.23,0.39,13.7,0.058,26.0,172.0,0.99755,2.90,0.46,9.000000,6
4880,6.6,0.34,0.40,8.1,0.046,68.0,170.0,0.99494,3.15,0.50,9.533333,6

**Number of unique values for quality in each dataset**

In [70]:
print('Number of unique values for quality in Red wine sample: {}'.format(df_red.quality.nunique()))
print('Number of unique values for quality in White wine sample: {}'.format(df_white.quality.nunique()))

Number of unique values for quality in Red wine sample: 6
Number of unique values for quality in White wine sample: 7

**Mean density of the red wine dataset**

In [73]:
print('Mean density of the red wine dataset: {}'.format(df_red.density.mean().round(3)))

Mean density of the red wine dataset: 0.997